#*
*#
#*#
*~
*.o
*.out
*.log
*.a
coding-style-reports.log
.gdb_history

# ---- lib/my/ ----
./lib/*/*.a
./lib/*/*~
./lib/*/#*
./lib/*/*#
./lib/*/#*#
./lib/*/*.o

# ---- include/ ----
.include/*.log
.include/*~

# ---- / ----
.idea
.idea/
test_lib
